body{
    background: #262730
}

.center{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}
.center.splash{
    margin-top: -152.5px;
    margin-left: -173px;
}

.poster{
    height: 450px;
    width: auto;
    z-index: 0;
}

.poster:hover{
    height: 500px;
    width: auto;
}

.highlights{
    margin: 0 !important;
    margin-right: 0;
    padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
  scroll-behavior: smooth;
}

.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin: 20px 0;    
}

section .item {
    padding: 0 2px;
    transition: 250ms all;    
}

section .item:hover { 
    margin: 0 40px;
    transform: scale(1.2);
}
  
section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background:rgb(0,0,0);
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;    
}

section a:nth-of-type(1) {
    top:0; bottom:0; left:0;
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
section a:nth-of-type(2) {
    top:0; bottom:0; right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}


#main h1{
    color: aliceblue;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 32px;
}