body{
    background-color: #262730;
}

.bordercontroll{
    background-color: #292D3E;
    border-color: rgb(67, 73, 104);
}

:-webkit-full-screen {
    background-color: #262730;
}

.playing:-webkit-full-screen {
    background-color:black !important;
}

body video {
    max-width: 100vw;
    max-height: 99vh;

    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

.playing{
    background-color:black !important;
}

.branco{
    color:#fff !important
}

::cue {
    color:#fff;
    background: transparent;
    text-shadow: black;
    font-weight: 700;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
 }

 .amarelo ::cue {
    color:#EDDE08 !important;
 }


 .loader {
    border: 16px solid #262730; /* Light grey */
    border-top: 16px solid #EF334C; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -60px;
  }

  #status{
    position: absolute;
    top: 50%;
    margin-top: 80px;
    width: 100%;
    text-align: center;
    z-index: 100;
    color: white;
    font-weight: 700;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



#controls{
    background: transparent;
    width: 90vw;
    height: 8vw;
    min-height: 80px;
    position: absolute;
    bottom: 10px;
    margin-left: 5%;
    z-index: 2;
}


.controls{
    height: inherit;
    padding: 0px;
    margin: 0px;
    width: inherit;
}

#sliderContainer{
    width: inherit;
    height: 3vw;
    min-height: 30px;
    justify-content: center;
    overflow: hidden;
}

.controls svg{  
    width: auto;
    min-height: 50px;
    min-width: 50px;
    height: 4vw;
    padding: 3px;
    fill: white;
    cursor: pointer;
}

.controls svg:hover{  
    padding: 0px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 2px;  
    background: rgba(0, 0, 0, 0);
    outline: none;
    margin-top: 1.5vw;
    cursor: pointer;
    position: absolute;
    z-index: 3;
  }

  .slider.hover {
    height: 12px;
    margin-top: 1.3vw;
  }
  
  #progress{
    width: inherit;
    height: 7px;
    min-height: 7px;
    justify-content: center;
    background: #5B5B5B;
    margin-top: 1.5vw;
    position: absolute;
    z-index: 2;
  }

  #progress.hover {
    height: 12px;
    margin-top: 1.3vw;
  }

  #bar{
    width: 0%;
    height: 7px;
    background-color: #EF334C;
  }

  #bar.hover {
    height: 12px;
  }

  #time{
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 18px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }

  #controlsButtons{
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  #fullscreen{
      margin-right: 0%;
  }

  #captions{
    margin-left:auto;
    margin-right: 0%;
}

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #EF334C;
    cursor: pointer;
    box-shadow: -100vw 0 0 100vw transparent;
    border: 0px solid #999; /* 1 */
  }

  #subtitlesMenu{
      background: #5B5B5B;
      width: 200px;
      height: 300px;
      position: absolute;
      z-index: 10;
      bottom: 16vh;
      right: 5vw;
  }

  .btnSub{
      width: 100%;
      background: rgb(83, 83, 83);
      border: none;
      color: white;
      height: 50px;
  }
  .btnSub:focus{
        outline: none;
    }

  .btnSub.active{
    width: 100%;
    background: rgb(68, 67, 67);
    border: none;
    color: white;
    height: 50px;
}

    #optSub{
    background: rgb(68, 67, 67);
    display: flex;
    align-items: center;
    justify-content: center
    }

    .optSub{
        font-size: 13px;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-left-color: transparent;
        width: fit-content;
        background: transparent;
        color: white;
        left: auto;
        right: auto;
        width: auto
    }

    .optSub.direc{
        border-left-width: 1px;
        border-left-color: rgb(54, 54, 54);
    }

    .optSub:hover{
        background: rgb(54, 54, 54);
    }

    .optSub:active{
        border: none;
    }

    .optSub:focus{
        outline: none;
    }

    #btnVoltar{  
        height: 60px;
        width: 60px;
        padding: 10px;
        fill: white;
        cursor: pointer;
        position: absolute;
    }

    #btnVoltar:hover{  
        padding: 8px;
    }